$color-ebony-clay: #222731;
$color-zircon: #f6f8ff;
$color-kashmir-blue: #4b6a9b;
$color-white-darker: #fefefe;
$color-white: #ffffff;
$color-azure-radiance: #0079ff;
$color-malibu: #60abff;
$color-san-marino: rgba(70, 96, 187, 0.2);
