@use 'styles/colors' as *;

.container {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: $color-white-darker;
	border-radius: 15px;
	padding: 8px 16px;
	box-shadow: 0 16px 30px -10px $color-san-marino;
}

.input {
	flex-grow: 1;
	border: 0;
	outline: 0;
	color: $color-kashmir-blue;
	font-size: 13px;
	line-height: 25px;
}
